<div class="song-page">
    <div class="container">
        <div class="text">
            <h3>Yeshuvil En Thozhane Kanden</h3>
        </div>
        <div class="row">
            <!-- <iframe class="video" [src]="video3" frameborder="0" allow="autoplay" allowfullscreen></iframe> -->
            <iframe class="video" [src]="yeshuvilen" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="back">
            <button type="button" class="btn btn primary clr" routerLink="/hisvoice-malayalam">Back to List of Songs</button>
        </div>
    </div>
</div>