<div class="container">
    <div class="tab mb-5">
        <ul class="nav nav-tabs mt-3" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Intro</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Etymology</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                HIS' Voice (also known as Heavenly Inspired Singers) is an Ecumenical Christian group formed in January 2008 in the Queens/Long Island area of New York by people with love for music. The founder and director of HIS' Voice, Sachin Roy, had a vision of
                forming a big group like this with members from different denominational background. He initially started off with a very small group of Sunday School children that he had taught at a Church in Queens, New York. He began to slowly expand
                on this by including members of all ages from various Churches within the Queens and Long Island areas of New York. He slowly worked to expand the group to the neighboring state of New Jersey. From there, he began his expansion to the
                state of Pennsylvania by including members from a few Churches in and around the city of Philadelphia. As the group expanded, it became difficult for Sachin to manage every aspect of the group by himself, and therefore we decided to form
                a proper organizational structure. So, in the year of 2015, the organization was registered as a Corporation under the name Candles of Hope Ministry, inc. dba HIS' Voice. We currently have over 100 members who actively participate in all
                our activities. Please browse through the other pages of this website for more details on us. Thank you and hope you would have a blessed experience browsing through our website. God bless!
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                HIS' Voice refers to God's Voice, He being God. HIS is also an acronym that stands for 'Heavenly Inspired Singers'. So, we consider ourselves as having the Heavenly Inspired Singers' voice. When we sing, we want the world to witness God's voice reflecting
                in each one of us, and that we are conveying God's words of love, peace and harmony through our singing. Our registered name is Candles of Hope Ministry, Inc. dba HIS' Voice.
            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">Sachin</div>
        </div>
    </div>
</div>