<div class="container">
    <div class="row mt-2">
        <div class="card col-md-12 my-2 pt-3 sach-card">
            <p>Upcoming Events</p>
        </div>
        <div class="card col-md-12 my-2">
            <div class="card-header mt-2">
                HIS' Voice Concert 2020
            </div>
            <div class="card-body">
                <p class="card-title">This event has been postponed indefinitely due to the covid 19 pandemic</p>
            </div>
        </div>
        <div class="card col-md-12 my-2 pt-3 sach-card">
            <p>Past Events</p>
        </div>
        <div class="card col-md-12 my-2" *ngFor="let event of Events">
            <div class="card-header mt-2">
                {{ event.id }}) {{ event.name_of_event }}
            </div>
            <div class="card-body">
                <div class="left">
                    <p class="card-title sach-card-title">{{ event.day_of_week }}</p>
                    <p class="card-text sach-card-text mt-0">{{ event.date }}</p>
                    <p class="card-text">Time: {{ event.time }}</p>
                </div>
                <div class="right">
                    <p class="card-text">{{ event.venue_name }}</p>
                    <p class="card-text">{{ event.venue_address_1 }}</p>
                    <p class="card-text">{{ event.venue_address_2 }}</p>
                </div>
            </div>
        </div>
    </div>
</div>