<div class="container">
    <div class="sach-container">
        <div class="row">
            <div class="col-md-12 mt-3">
                <h1 class="text-center">Auditioning</h1>
            </div>
        </div>
        <hr>
        <div class="row">
            <h3>Who we are looking for...</h3>
        </div>
        <div class="row ">
            <p>We're looking for boys/girls, men/women of ages between 10 and 40 who love singing and are enthusiastic about music. Contact Sachin Roy, the Choir Director who can answer any questions you may have. Alternatively you can send an email to info@his-voice.com.</p>
        </div>
        <hr>
        <div class="row ">
            <h3>Preparing for the Audition...</h3>
        </div>
        <div class="row ">
            <p>It's important to remember that we're not looking for a fully-trained chorister at the auditions! Instead, we look for an enthusiasm for music (and, in particular, singing), reasonable concentration, and supportive family.</p>
            <p>As part of the audition, you will be asked to sing something that you are comfortable with. This can be a simple song, even a hymn – just something you enjoy singing. The Choir Director will then ask you to sing that song in varying tempos
                and pitches to evaluate you on your vocal range and other parameters.
            </p>
            <p>If you play a musical instrument, then we would like to hear you play a short piece of your choosing.</p>
            <p>Above all, we are looking for enthusiasm and committment, and the passion to sing Christian music in harmony. We believe that we can train anyone to sing along beautifully, and blend in with the group as long as you have the ability to sing
                in a given pitch and tempo.</p>
        </div>

        <!-- Start Jumbotron -->
        <div class="sach-jumbotron pt-3 my-4">
            <div class="container ">
                <div class="row">
                    <div class="col-md-7 col-lg-8 col-xl-9 my-auto">
                        <h4 class="text-right">Ready for audition? Send us a message.</h4>
                    </div>
                    <div class="col-md-5 col-lg-4 col-xl-3 pt-4 pb-lg-3 pt-xl-0 sach-btn">
                        <a href=" " routerLink='/contact' class="btn btn-primary btn-lg ">I want to audition</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Jumbotron -->
    </div>
</div>