<div class="song-page">
    <div class="container">
        <!-- <div class="button1"> -->
        <!-- <a href="" routerLink="/paithalaam">Paithalaam Yeshuve</a> -->
        <div class="row">
            <div class="col-4 inside">
                <a href="" routerLink="/paithalaam-yeshuve" class="button1" style="background-color:#a24dcc">
                    <span style="font-size:3em; font-family:'Comic Sans MS'; border-right:1px solid rgba(255,255,255,0.5); padding-right:0.3em; margin-right:0.3em; padding-left:0em; vertical-align:middle">P</span>  Paithalaam Yeshuve
                </a>
            </div>
            <div class="col-4 inside">
                <a href="" routerLink="/yeshu-kristhu-uyirthu" class="button1" style="background-color:#a24dcc">
                    <span style="font-size:3em; font-family:'Comic Sans MS'; border-right:1px solid rgba(255,255,255,0.5); padding-right:0.3em; margin-right:0.3em; padding-left:0em; vertical-align:middle">Y</span> Yeshu Kristhu Uyirthu Jeevikkunnu
                </a>
            </div>
            <div class="col-4 inside">
                <a href="" routerLink="/maruvinu-mazhayai" class="button1" style="background-color:#a24dcc">
                    <span style="font-size:3em; font-family:'Comic Sans MS'; border-right:1px solid rgba(255,255,255,0.5); padding-right:0.3em; margin-right:0.3em; padding-left:0em; vertical-align:middle">M</span> Maruvinu Mazhayai
                </a>
            </div>
            <div class="col-4 inside">
                <a href="" routerLink="/yeshuvil-en-thozhane" class="button1" style="background-color:#a24dcc">
                    <span style="font-size:3em; font-family:'Comic Sans MS'; border-right:1px solid rgba(255,255,255,0.5); padding-right:0.3em; margin-right:0.3em; padding-left:0em; vertical-align:middle">Y</span>  Yeshuvil En Thozhane Kanden
                </a>
            </div>
            <div class="col-4 inside">
                <a href="" routerLink="/paithalaam" class="button1" style="background-color:#a24dcc">
                    <span style="font-size:3em; font-family:'Comic Sans MS'; border-right:1px solid rgba(255,255,255,0.5); padding-right:0.3em; margin-right:0.3em; padding-left:0em; vertical-align:middle">E</span> Enni Enni Sthuthikkuvaan
                </a>
            </div>
            <div class="col-4 inside">
                <a href="" routerLink="/paithalaam" class="button1" style="background-color:#a24dcc">
                    <span style="font-size:3em; font-family:'Comic Sans MS'; border-right:1px solid rgba(255,255,255,0.5); padding-right:0.3em; margin-right:0.3em; padding-left:0em; vertical-align:middle">J</span> Jeevanulla Devane Varu
                </a>
            </div>
            <div class="col-4 inside">
                <a href="" routerLink="/paithalaam" class="button1" style="background-color:#a24dcc">
                    <span style="font-size:3em; font-family:'Comic Sans MS'; border-right:1px solid rgba(255,255,255,0.5); padding-right:0.3em; margin-right:0.3em; padding-left:0em; vertical-align:middle">P</span>  Paithalaam Yeshuve
                </a>
            </div>
            <div class="col-4 inside">
                <a href="" routerLink="/paithalaam" class="button1" style="background-color:#a24dcc">
                    <span style="font-size:3em; font-family:'Comic Sans MS'; border-right:1px solid rgba(255,255,255,0.5); padding-right:0.3em; margin-right:0.3em; padding-left:0em; vertical-align:middle">E</span> Enni Enni Sthuthikkuvaan
                </a>
            </div>
            <div class="col-4 inside">
                <a href="" routerLink="/paithalaam" class="button1" style="background-color:#a24dcc">
                    <span style="font-size:3em; font-family:'Comic Sans MS'; border-right:1px solid rgba(255,255,255,0.5); padding-right:0.3em; margin-right:0.3em; padding-left:0em; vertical-align:middle">J</span> Jeevanulla Devane Varu
                </a>
            </div>
            <div class="col-4 inside">
                <a href="" routerLink="/paithalaam" class="button1" style="background-color:#a24dcc">
                    <span style="font-size:3em; font-family:'Comic Sans MS'; border-right:1px solid rgba(255,255,255,0.5); padding-right:0.3em; margin-right:0.3em; padding-left:0em; vertical-align:middle">P</span>  Paithalaam Yeshuve
                </a>
            </div>
            <div class="col-4 inside">
                <a href="" routerLink="/paithalaam" class="button1" style="background-color:#a24dcc">
                    <span style="font-size:3em; font-family:'Comic Sans MS'; border-right:1px solid rgba(255,255,255,0.5); padding-right:0.3em; margin-right:0.3em; padding-left:0em; vertical-align:middle">E</span> Enni Enni Sthuthikkuvaan
                </a>
            </div>
            <div class="col-4 inside">
                <a href="" routerLink="/paithalaam" class="button1" style="background-color:#a24dcc">
                    <span style="font-size:3em; font-family:'Comic Sans MS'; border-right:1px solid rgba(255,255,255,0.5); padding-right:0.3em; margin-right:0.3em; padding-left:0em; vertical-align:middle">J</span> Jeevanulla Devane Varu
                </a>
            </div>
            <div class="col-4 inside">
                <a href="" routerLink="/paithalaam" class="button1" style="background-color:#a24dcc">
                    <span style="font-size:3em; font-family:'Comic Sans MS'; border-right:1px solid rgba(255,255,255,0.5); padding-right:0.3em; margin-right:0.3em; padding-left:0em; vertical-align:middle">P</span>  Paithalaam Yeshuve
                </a>
            </div>
            <div class="col-4 inside">
                <a href="" routerLink="/paithalaam" class="button1" style="background-color:#a24dcc">
                    <span style="font-size:3em; font-family:'Comic Sans MS'; border-right:1px solid rgba(255,255,255,0.5); padding-right:0.3em; margin-right:0.3em; padding-left:0em; vertical-align:middle">E</span> Enni Enni Sthuthikkuvaan
                </a>
            </div>
            <div class="col-4 inside">
                <a href="" routerLink="/paithalaam" class="button1" style="background-color:#a24dcc">
                    <span style="font-size:3em; font-family:'Comic Sans MS'; border-right:1px solid rgba(255,255,255,0.5); padding-right:0.3em; margin-right:0.3em; padding-left:0em; vertical-align:middle">J</span> Jeevanulla Devane Varu
                </a>
            </div>
        </div>
        <!-- </div> -->
    </div>
</div>