<div class="container">
    <div class="row">
        <div class="col-md-12 my-4">
            <h1 class="text-center">Choir Rehearsals</h1>
            <ul>
                <li><span class="fa fa-headphones"></span> Rehearsals are on Sundays 5:00 PM to 7:00 PM</li>
                <li><span class="fa fa-headphones"></span> The Choir meets at the Christ Lutheran Church, New Hyde Park, NY.</li>
                <li><span class="fa fa-headphones"></span> There will be special/extended practices as we approach the day of Concerts/special performances.</li>
                <li><span class="fa fa-headphones"></span> Members will receive a weekly email with details on the practice for that week.</li>
                <li><span class="fa fa-headphones"></span> Sectional rehearsals comprise the first hour of the rehearsals.</li>
                <li><span class="fa fa-headphones"></span> See the calendar for the updated schedule.</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 my-4">
            <h1 class="text-center">Rehearsal Schedule</h1>
            <ul>
                <li><span class="fa fa-headphones"></span> Practices are currently on hold till further notice</li>
            </ul>
        </div>
    </div>
</div>