<div class="song-page">
    <div class="container">
        <!-- <div class="button1"> -->
        <!-- <a href="" routerLink="/paithalaam">Paithalaam Yeshuve</a> -->
        <div class="row">
            <div class="col-4 inside">
                <a href="" routerLink="/goin-to-bethlehem" class="button1" style="background-color:#a24dcc">
                    <span style="font-size:3em; font-family:'Comic Sans MS'; border-right:1px solid rgba(255,255,255,0.5); padding-right:0.3em; margin-right:0.3em; padding-left:0em; vertical-align:middle">G</span>  Goin' To Bethlehem
                </a>
            </div>
            <div class="col-4 inside">
                <a href="" routerLink="/o-sacred-head" class="button1" style="background-color:#a24dcc">
                    <span style="font-size:3em; font-family:'Comic Sans MS'; border-right:1px solid rgba(255,255,255,0.5); padding-right:0.3em; margin-right:0.3em; padding-left:0em; vertical-align:middle">O</span>  O Sacred Head Now Wounded
                </a>
            </div>
            <div class="col-4 inside">
                <a href="" routerLink="/ring-christmas-bells" class="button1" style="background-color:#a24dcc">
                    <span style="font-size:3em; font-family:'Comic Sans MS'; border-right:1px solid rgba(255,255,255,0.5); padding-right:0.3em; margin-right:0.3em; padding-left:0em; vertical-align:middle">R</span> Ring Christmas Bells
                </a>
            </div>
            <div class="col-4 inside">
                <a href="" routerLink="/blessed-assurance" class="button1" style="background-color:#a24dcc">
                    <span style="font-size:3em; font-family:'Comic Sans MS'; border-right:1px solid rgba(255,255,255,0.5); padding-right:0.3em; margin-right:0.3em; padding-left:0em; vertical-align:middle">B</span>  Blessed Assurance
                </a>
            </div>
            <div class="col-4 inside">
                <a href="" routerLink="/paithalaam" class="button1" style="background-color:#a24dcc">
                    <span style="font-size:3em; font-family:'Comic Sans MS'; border-right:1px solid rgba(255,255,255,0.5); padding-right:0.3em; margin-right:0.3em; padding-left:0em; vertical-align:middle">E</span> Enni Enni Sthuthikkuvaan
                </a>
            </div>
            <div class="col-4 inside">
                <a href="" routerLink="/paithalaam" class="button1" style="background-color:#a24dcc">
                    <span style="font-size:3em; font-family:'Comic Sans MS'; border-right:1px solid rgba(255,255,255,0.5); padding-right:0.3em; margin-right:0.3em; padding-left:0em; vertical-align:middle">J</span> Jeevanulla Devane Varu
                </a>
            </div>
            <div class="col-4 inside">
                <a href="" routerLink="/paithalaam" class="button1" style="background-color:#a24dcc">
                    <span style="font-size:3em; font-family:'Comic Sans MS'; border-right:1px solid rgba(255,255,255,0.5); padding-right:0.3em; margin-right:0.3em; padding-left:0em; vertical-align:middle">P</span>  Paithalaam Yeshuve
                </a>
            </div>
            <div class="col-4 inside">
                <a href="" routerLink="/paithalaam" class="button1" style="background-color:#a24dcc">
                    <span style="font-size:3em; font-family:'Comic Sans MS'; border-right:1px solid rgba(255,255,255,0.5); padding-right:0.3em; margin-right:0.3em; padding-left:0em; vertical-align:middle">E</span> Enni Enni Sthuthikkuvaan
                </a>
            </div>
            <div class="col-4 inside">
                <a href="" routerLink="/paithalaam" class="button1" style="background-color:#a24dcc">
                    <span style="font-size:3em; font-family:'Comic Sans MS'; border-right:1px solid rgba(255,255,255,0.5); padding-right:0.3em; margin-right:0.3em; padding-left:0em; vertical-align:middle">J</span> Jeevanulla Devane Varu
                </a>
            </div>
            <div class="col-4 inside">
                <a href="" routerLink="/paithalaam" class="button1" style="background-color:#a24dcc">
                    <span style="font-size:3em; font-family:'Comic Sans MS'; border-right:1px solid rgba(255,255,255,0.5); padding-right:0.3em; margin-right:0.3em; padding-left:0em; vertical-align:middle">P</span>  Paithalaam Yeshuve
                </a>
            </div>
            <div class="col-4 inside">
                <a href="" routerLink="/paithalaam" class="button1" style="background-color:#a24dcc">
                    <span style="font-size:3em; font-family:'Comic Sans MS'; border-right:1px solid rgba(255,255,255,0.5); padding-right:0.3em; margin-right:0.3em; padding-left:0em; vertical-align:middle">E</span> Enni Enni Sthuthikkuvaan
                </a>
            </div>
            <div class="col-4 inside">
                <a href="" routerLink="/paithalaam" class="button1" style="background-color:#a24dcc">
                    <span style="font-size:3em; font-family:'Comic Sans MS'; border-right:1px solid rgba(255,255,255,0.5); padding-right:0.3em; margin-right:0.3em; padding-left:0em; vertical-align:middle">J</span> Jeevanulla Devane Varu
                </a>
            </div>
            <div class="col-4 inside">
                <a href="" routerLink="/paithalaam" class="button1" style="background-color:#a24dcc">
                    <span style="font-size:3em; font-family:'Comic Sans MS'; border-right:1px solid rgba(255,255,255,0.5); padding-right:0.3em; margin-right:0.3em; padding-left:0em; vertical-align:middle">P</span>  Paithalaam Yeshuve
                </a>
            </div>
            <div class="col-4 inside">
                <a href="" routerLink="/paithalaam" class="button1" style="background-color:#a24dcc">
                    <span style="font-size:3em; font-family:'Comic Sans MS'; border-right:1px solid rgba(255,255,255,0.5); padding-right:0.3em; margin-right:0.3em; padding-left:0em; vertical-align:middle">E</span> Enni Enni Sthuthikkuvaan
                </a>
            </div>
            <div class="col-4 inside">
                <a href="" routerLink="/paithalaam" class="button1" style="background-color:#a24dcc">
                    <span style="font-size:3em; font-family:'Comic Sans MS'; border-right:1px solid rgba(255,255,255,0.5); padding-right:0.3em; margin-right:0.3em; padding-left:0em; vertical-align:middle">J</span> Jeevanulla Devane Varu
                </a>
            </div>
        </div>
        <!-- </div> -->
    </div>
</div>