<div class="gointobethlehem-page">
    <div class="container">
        <div class="text">
            <h3>O Sacred Head Now Wounded</h3>
        </div>
        <div class="row">
            <!-- <iframe class="video" [src]="goinToBethlehem" frameborder="0" allow="autoplay" allowfullscreen></iframe> -->
            <iframe class="video" [src]="osacredhead" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="back">
            <button type="button" class="btn btn primary clr" routerLink="/hisvoice-english">Back to List of Songs</button>
        </div>
    </div>
</div>